// *************************************
//
//   Toolbar
//
// *************************************

// -------------------------------------
//   Variables
// -------------------------------------

$tool-bar-background: $tool-bar-skin;

// -------------------------------------
//   Base
// -------------------------------------

.tool-bar {
    @include innershadows;
    position: fixed;
    bottom: 0;
    left: 30%;
    background: $tool-bar-background;
    padding: 0;
    margin: 0;
    border-radius: 6px 6px 0 0;
}


// -------------------------------------
//   Items
// -------------------------------------

.tool-bar__item {
    list-style-type: none;
    padding: 0;
    margin: 0;
    position: relative;
    display: inline-block;
    border-left: 1px solid darken($tool-bar-background, 3%);
    vertical-align: top;
}
.tool-bar .tool-bar__item:first-child {
    border-left: none;
}
.tool-bar__item > a {
    display: block;
    text-align: center;
    font-size: 16px;
    font-size: 1.6rem;
    line-height: 40px !important;
    width: 40px;
    height: 40px;
    color: #FFF;
}
.tool-bar__item > a:hover {
   text-decoration: none;
}
.tool-bar__item > a span {
   display: none;
}