 <div class="panel panel-default">
        <!-- Default panel contents -->
        <div class="panel-heading">
                   Character List
        </div>
        <!-- .panel-heading -->
        <ul class="list-group">
            <li class="list-group-item" ng-repeat="item in currentGame.characters">
                <span class="turn-order-avatar">
                    <img src="/images/users/avatars/{{ item.avatar }}">
                </span>
                <span class="character-name">{{ item.characterName }}</span>
                <button type="button" class="btn btn-sm btn-primary pull-right" title="Actions" aria-hidden="true">Actions</button>
            </li>
            <!-- .list-group -->
        </ul>
        <div class="panel-footer clearfix" ng-show="currentGame.characters.length < 6">

            <div class="pull-right" style="margin-bottom: 5px;">
            <button class="btn btn-primary" ng-click="createCharacter()">Create</button>
            </div>
            <!-- .pull-right -->
        </div>
        <!-- end of show / hide -->
    </div>


