<div class="modal-fury" ng-show="characterCreationActive">
    <h2>Create a character</h2>

    <form class="form" name="form" novalidate>

        <div class="form-group" ng-class="{ 'has-success': form.name.$valid && submitted, 'has-error': form.name.$invalid && submitted }">
            <label>Character Name</label>

            <input type="text" name="name" class="form-control" ng-model="character.characterName" required>
            <p class="help-block" ng-show="form.name.$error.required && submitted">
                A name is required
            </p>
        </div>
        <div class="form-group">
            <label>Attribute 1</label>
            <input type="number" class="form-control" ng-model="character.attributeOne">
        </div>
        <div class="form-group">
            <label>Attribute 1 Max</label>
            <input type="number" class="form-control" ng-model="character.attributeOneMax">
        </div>
        <div class="form-group">
            <label>Attribute 2</label>
            <input type="number" class="form-control" ng-model="character.attributeTwo">
        </div>
        <div class="form-group">
            <label>Attribute 2 Max</label>
            <input type="number" class="form-control" ng-model="character.attributeTwoMax">
        </div>
        <div class="form-group">
            <label>Attribute 3</label>
            <input type="number" class="form-control" ng-model="character.attributeThree">
        </div>

        <button class="btn btn-secondary" ng-click="cancelCreation()">Cancel</button>
        <a class="btn btn-primary" ng-click="saveCharacter()">Save</a>
    </form>
</div>
