// *************************************
//
//   Variables for App
//
// *************************************


// -------------------------------------
//   Colours
// -------------------------------------

// ----- Alert Colors----- //

$primary-highlight-color: #2982D5; // Bright Blue
$primary-success-color: #1ABC9C; // Turquoise Green
$primary-error-color  : #FF6162; // Light Red



// -------------------------------------
//   Z-indexs
// -------------------------------------

$zindex-alert-messages: 2;
$zindex-spinner: 1;

