
// *************************************
//
//   Game Base
//
// *************************************

// -------------------------------------
//   Panels
// -------------------------------------

.panel-heading a {
    float: right;
    text-decoration: none;
}
.panel-footer {
    padding-bottom: 0;
}
.panel p {
    margin: 15px;
}