// *************************************
//
//   Dice Roller
//
// *************************************


// -------------------------------------
//   Variables
// -------------------------------------


// -------------------------------------
//   Dice Images
// -------------------------------------
.dice-roller-panel {
  position: absolute;
  bottom: 100%;
  left: -150px;
  width: 300px;
}
.dice-roller-panel .panel {
  margin-bottom: 0;
  position: relative;
}
.breakdown span {
    height: 53px;
    width: 53px;
    float: left;
    display: block;
    margin-right: 8px;
    background-position: center top;
    margin-bottom: 10px;
}
.breakdown {
    position: absolute;
    left: 40%;
    top: 30%;
}
.breakdown p {
    margin-left: 0;
}
.hidden-roll {
    color: #CCC;
}

.d4-1 {
background: url(../images/dice/d4-1.png) no-repeat;
}
.d4-2 {
background: url(../images/dice/d4-2.png) no-repeat;
}
.d4-3 {
background: url(../images/dice/d4-3.png) no-repeat;
}
.d4-4 {
background: url(../images/dice/d4-4.png) no-repeat;
}
.d6-1 {
background: url(../images/dice/d6-1.png) no-repeat;
}
.d6-2 {
background: url(../images/dice/d6-2.png) no-repeat;
}
.d6-3 {
background: url(../images/dice/d6-3.png) no-repeat;
}
.d6-4 {
background: url(../images/dice/d6-4.png) no-repeat;
}
.d6-5 {
background: url(../images/dice/d6-5.png) no-repeat;
}
.d6-6 {
background: url(../images/dice/d6-6.png) no-repeat;
}
.d8-1 {
background: url(../images/dice/d8-1.png) no-repeat;
}
.d8-2 {
background: url(../images/dice/d8-2.png) no-repeat;
}
.d8-3 {
background: url(../images/dice/d8-3.png) no-repeat;
}
.d8-4 {
background: url(../images/dice/d8-4.png) no-repeat;
}
.d8-5 {
background: url(../images/dice/d8-5.png) no-repeat;
}
.d8-6 {
background: url(../images/dice/d8-6.png) no-repeat;
}
.d8-7 {
background: url(../images/dice/d8-7.png) no-repeat;
}
.d8-8 {
background: url(../images/dice/d8-8.png) no-repeat;
}
.d10-0 {
background: url(../images/dice/d10-0.png) no-repeat;
}
.d10-1 {
background: url(../images/dice/d10-1.png) no-repeat;
}
.d10-2 {
background: url(../images/dice/d10-2.png) no-repeat;
}
.d10-3 {
background: url(../images/dice/d10-3.png) no-repeat;
}
.d10-4 {
background: url(../images/dice/d10-4.png) no-repeat;
}
.d10-5 {
background: url(../images/dice/d10-5.png) no-repeat;
}
.d10-6 {
background: url(../images/dice/d10-6.png) no-repeat;
}
.d10-7 {
background: url(../images/dice/d10-7.png) no-repeat;
}
.d10-8 {
background: url(../images/dice/d10-8.png) no-repeat;
}
.d10-9 {
background: url(../images/dice/d10-9.png) no-repeat;
}
.d10-10 {
background: url(../images/dice/d10-10.png) no-repeat;
}
.d12-1 {
background: url(../images/dice/d12-1.png) no-repeat;
}
.d12-2 {
background: url(../images/dice/d12-2.png) no-repeat;
}
.d12-3 {
background: url(../images/dice/d12-3.png) no-repeat;
}
.d12-4 {
background: url(../images/dice/d12-4.png) no-repeat;
}
.d12-5 {
background: url(../images/dice/d12-5.png) no-repeat;
}
.d12-6 {
background: url(../images/dice/d12-6.png) no-repeat;
}
.d12-7 {
background: url(../images/dice/d12-7.png) no-repeat;
}
.d12-8 {
background: url(../images/dice/d12-8.png) no-repeat;
}
.d12-9 {
background: url(../images/dice/d12-9.png) no-repeat;
}
.d12-10 {
background: url(../images/dice/d12-10.png) no-repeat;
}
.d12-11 {
background: url(../images/dice/d12-11.png) no-repeat;
}
.d12-12 {
background: url(../images/dice/d12-12.png) no-repeat;
}
.d20-1 {
background: url(../images/dice/d20-1.png) no-repeat;
}
.d20-2 {
background: url(../images/dice/d20-2.png) no-repeat;
}
.d20-3 {
background: url(../images/dice/d20-3.png) no-repeat;
}
.d20-4 {
background: url(../images/dice/d20-4.png) no-repeat;
}
.d20-5 {
background: url(../images/dice/d20-5.png) no-repeat;
}
.d20-6 {
background: url(../images/dice/d20-6.png) no-repeat;
}
.d20-7 {
background: url(../images/dice/d20-7.png) no-repeat;
}
.d20-8 {
background: url(../images/dice/d20-8.png) no-repeat;
}
.d20-9 {
background: url(../images/dice/d20-9.png) no-repeat;
}
.d20-10 {
background: url(../images/dice/d20-10.png) no-repeat;
}
.d20-11 {
background: url(../images/dice/d20-11.png) no-repeat;
}
.d20-12 {
background: url(../images/dice/d20-12.png) no-repeat;
}
.d20-13 {
background: url(../images/dice/d20-13.png) no-repeat;
}
.d20-14 {
background: url(../images/dice/d20-14.png) no-repeat;
}
.d20-15 {
background: url(../images/dice/d20-15.png) no-repeat;
}
.d20-16 {
background: url(../images/dice/d20-16.png) no-repeat;
}
.d20-17 {
background: url(../images/dice/d20-17.png) no-repeat;
}
.d20-18 {
background: url(../images/dice/d20-18.png) no-repeat;
}
.d20-19 {
background: url(../images/dice/d20-19.png) no-repeat;
}
.d20-20 {
background: url(../images/dice/d20-20.png) no-repeat;
}


