<!-- <div class="header">
            <ul class="nav nav-pills pull-right">
                <li class="active"><a href="#">Dice</a>
                </li>
                <li><a href="#">Character Gen</a>
                </li>
                <li><a href="#">Dungeon Gen</a>
                </li>
            </ul>
            <h3 class="text-muted">Stormcrow</h3>
        </div> -->

        <!-- <div class="jumbotron">

            <h1>Stormcrow Dice</h1>
            <p class="lead">Welcome to the ultimate dice roller</p>
        </div> -->

        <div class="row marketing">
            <div class="col-md-4">

                <div class="panel panel-default">
                    <!-- Default panel contents -->
                    <div class="panel-heading">
                        <strong>Dice Selection</strong>
                        <span class="glyphicon glyphicon-plus pull-right" style="cursor: pointer;" ng-click="addMoreDice()"></span>
                    </div>
                    <!-- .panel-heading -->
                    <ul class="list-group">

                        <li class="list-group-item" ng-repeat="item in getNumber(numberOfDiceCombos) track by $index" id="dice-row{{$index}}">

                            <form class="form-inline" role="form">

                                <div class="form-group">
                                    <label for="amount"></label>
                                    <select name="amount" class="amount form-control" ng-model="numberOfTypeOfDiceOption[$index]" ng-options="n.value as n.value for n in numberOfTypeOfDiceOptions">

                                    </select>
                                </div>
                                <!-- .form-group-->
                                <div class="form-group">
                                    <label for="dice" class="hidden">Dice</label>
                                    <select name="dice" class="dice form-control" ng-model="diceOption[$index]" ng-options="d.value as d.sides for d in diceOptions"></select>
                                </div>
                                <!-- .form-group-->
                                <div class="form-group">
                                    <label for="modifier"></label>
                                    <select name="modifier" class="modifier form-control" ng-model="modifierOption[$index]" ng-options="m.value  as m.value for m in modifierOptions"></select>
                                </div>
                                <!-- .form-group-->
                                <div class="form-group pull-right" ng-show="1 < numberOfDiceCombos"><button type="button" class="close" title="Remove dice combo" ng-click="removeDice()" aria-hidden="true">&times;</button></div>
                            </form>
                        </li>
                        <!-- #dice-row -->

                    <div class="panel-footer clearfix">
                    <div class="checkbox pull-left">
                        <label for="hideRoll">
                            <input type="checkbox" name="hideRoll" ng-model="hiddenroll">Hide roll?
                        </label>
                    </div>
<!-- .checkbox-->
                    <button class="btn btn-info pull-right" ng-click="rollTheDice()">Roll</button>
                </div>
                <!-- .panel-footer-->
            </div>
<!-- .panel-->
        </div>
        <!-- .col-md-4-->
        <div class="col-md-4">
            <div class="panel panel-default">
                <!-- Default panel contents -->
                <div class="panel-heading">
                    <strong>Current Roll</strong>
                </div>
                <div ng-show="!currentRollBreakdown">
                    <p>Make a roll!</p>
                </div>

                <ul ng-show="currentRollBreakdown" id="current-roll" class="list-group">
                    <li class="roll list-group-item list-group-item-info">
                        <span ng-repeat="item in currentRollBreakdown.combo">{{ item.amountOfDice }}d{{ item.dx }} <span ng-show="item.mod > 0"> + </span><span ng-show="item.mod != 0">{{ item.mod }}</span><span ng-show="!$last"> + </span></span>
                        <span ng-show="currentRollBreakdown.hidden" class="glyphicon glyphicon-eye-close"></span>
                        <span class="badge">{{ currentRollBreakdown.grandtotal }}</span>
                    </li>

                </ul>
                <div ng-show="currentRollBreakdown" class="breakdown clearfix">
                <h5>Breakdown</h5>
                <i ng-repeat="item in currentRollBreakdown.combo">
                    <span ng-show="item.dx !== 100" ng-repeat="roll in item.rolls" class="d{{item.dx}}-{{roll.score}}"></span>
                    <span ng-show="item.dx == 100" ng-repeat="roll in item.rolls" class="d10-{{roll.score}}"></span>
                </i>
                </div>

            </div>
        </div>
        <div class="col-md-4">

            <div class="panel panel-default">
                <!-- Default panel contents -->
                <div class="panel-heading">
                    <strong>Roll History</strong> <a style="cursor: pointer;" ng-click="clearRollHistory()">Clear</a></div>
                <div ng-show="!historicalRollBreakdown.length">
                    <p >No rolls in history yet!</p>
                </div>

                <ul id="roll-history" class="list-group" ng-show="historicalRollBreakdown.length" >
                    <li class="roll list-group-item" ng-repeat="item in historicalRollBreakdown | reverse">
                        <span ng-repeat="roll in item.combo">{{ roll.amountOfDice }}d{{ roll.dx }}<span ng-show="roll.mod > 0"> + </span><span ng-show="roll.mod != 0">{{ roll.mod }}</span><span ng-show="!$last"> + </span></span>
                        <span ng-show="item.hidden" class="glyphicon glyphicon-eye-close"></span>
                        <span class="badge">{{ item.grandtotal }}</span>
                    </li>
                </ul>


            </div>
        </div>
        <!-- .col-md-4 -->
    </div>
    <!-- .marketing -->
    <div class="footer">
        <p>♥ from the Web Superheroes team</p>
    </div>
