// *************************************
//
//   Alert Messages
//
// *************************************


// -------------------------------------
//   Variables
// -------------------------------------

$alert-message-width: 320px;


// -------------------------------------
//   Base
// -------------------------------------

.alert-wrapper {
    float: right;
    margin-right: 10px;
    display: block;
    width: $alert-message-width;
}


.alert-messages {
    position: fixed;
    top: 68px; /* top bar height (54px + 4px border = 58px) + padding (10px) */
    top: 14px; /* border (4px) + padding (10px) */

    width: $alert-message-width;
    opacity: 0.9;
    z-index: $zindex-alert-messages;

    div {
        width: 100%;
        position: relative;
        padding : 8px 0px 8px 8px;
        margin-bottom: 10px;
        background: $primary-highlight-color;

        &:hover{
            background: lighten($primary-highlight-color, 2%);
        }

        &.success{
            background: $primary-success-color;
            &:hover{
                background: lighten($primary-success-color, 2%);
            }
        }

        &.error{
            background: $primary-error-color;
            &:hover{
                background: lighten($primary-error-color, 2%);
            }
        }
    }
}

.alert-messages p {
    color: white;
    margin: 0px;
    padding-right: 35px;
}

.alert-messages a {
    position: absolute;
    top  : 10px;
    right: 10px;
    color: white;

    &:before{
        font-size: 13px;
    }
}