// *************************************
//
//   Loading Spinner
//
// *************************************

// -------------------------------------
//   Base
// -------------------------------------

.widget-loader{
   width: 100%;
   height: 100%;
   z-index: $zindex-spinner;
   position: absolute;
   top: 0;
   left: 0;

   opacity: 0.55;
   background: #FFF;

   .spinner {
      width : 60px;
      height: 60px;
      margin: 0 auto;
      position: relative;

      top: 38%;
      transform: translateY(-50%);
      animation: rotation .6s infinite linear;

      border-radius:100%;
      border-top:6px solid rgba(131,147,160,.8);
      border-left:6px solid rgba(131,147,160,.15);
      border-right:6px solid rgba(131,147,160,.15);
      border-bottom:6px solid rgba(131,147,160,.15);

    &.top{
      top: 10px;
      transform: translateY(0%);
    }

    &.table-top{
      top: 45px;
      transform: translateY(0%);
    }
   }
}


.windows.safari .widget-loader{
   .spinner {
      top: 6%;
   }
}

.modal .widget-loader{
   top: 0px;
   left: 0px;
}

@keyframes rotation {
   from {transform: rotate(0deg);}
   to {transform: rotate(359deg);}
}