// *************************************
//
//   Sidebar
//
// *************************************


// -------------------------------------
//   Variables
// -------------------------------------

$tool-bar-background: $tool-bar-skin;


// -------------------------------------
//   Base
// -------------------------------------

.tool-bar {
    position: fixed;
    bottom: 0;
    left: 30%;
}
.tool-bar > ul {
    background: $tool-bar-background;
    padding: 0;
    margin: 0;
}
.tool-bar > ul > li {
    list-style-type: none;
    padding: 0;
    margin: 0;
    position: relative;
    display: inline-block;
}
.tool-bar > ul > li > a {
    display: block;
    text-align: center;
    font-size: 16px;
    font-size: 1.6rem;
    line-height: 40px !important;
    width: 40px;
    height: 40px;
}
.tool-bar li a:hover {
   text-decoration: none;
}
.tool-bar li a span {
   display: none;
}