// *************************************
//
//   User Profile Widget
//
// *************************************


// -------------------------------------
//   Variables
// -------------------------------------




// -------------------------------------
//   Base
// -------------------------------------

.character-profile {
    position: fixed;
    top: 20px;
    left: 20px;
}
.character-profile-content {
    position: relative;
    height: 100px;

}
.character-information {
    float: left;
    width: 300px;
}

// ----- Avatar ----- //

.character-avatar {
    border-radius: 50%;
    overflow: hidden;
    float: left;
    margin-right: 10px;
}


// ----- Attribute bars ----- //

.character-attributes,
.character-attributes li {
    margin: 0;
    padding: 0;
    list-style: none;
}

.character-attributes  .character-attributes-bar {
    background: #DDD;
    margin-bottom: 3px;
    border: 2px solid #CCC;
}
.character-attributes-bar:first-child span {
    background: rgb(43,194,83);
}
.character-attributes-bar span {
    background: #f0a3a3;
    display: block;
    height: 10px;
}

// ----- Level circle ----- //

.character-attributes-standalone {
    background: #DDD;
    position: absolute;
    left: 0;
    bottom: 0;
    height: 25px;
    width: 25px;
    border-radius: 50%;
    border: 3px solid black;
    text-align: center;
    font-weight: bold;
}