
// *************************************
//
//   Font mixins
//   -> All font related mixins and helpers
//
// *************************************


// -------------------------------------
//   IE7 and 8 font fallback mixin - courtesy of CSS-Tricks.com
// -------------------------------------

@mixin font-size($size: 1.6, $line: $size * 1.61803399) {
  font-size: ($size * 10) + px;
  line-height: ($line * 10) + px;
  font-size: $size + rem;
  line-height: $line + rem;
}


// -------------------------------------
//   Font family helper
// -------------------------------------

@mixin font-family($family: "default") {
  @if $family == "default" {
    font-family: 'open_sanslight';
  }  
  @if $family == "thin" {
    font-family: 'pill_gothic_condthin';
  }  
  @if $family == "bold" {
    font-family: 'pill_gothic_condbold';
  }  
  @if $family == "georgia" {
    font-family: 'Georgia, serif';
  }
}