
// *************************************
//
//   Forms
//
// *************************************

// -------------------------------------
//   Base
// -------------------------------------

input[type=email],
input[type=password],
input[type=text] {
  border: none;
  padding: 2px 5px;
  border: 1px solid #CCC;

}
.label{
  font-weight: 700;
}


// -------------------------------------
//  Block Forms
// -------------------------------------

.block-form__item {
  margin-bottom: 5px;
}
.block-form__item .label {
  display: inline-block;
 width: 100px;
}


// -------------------------------------
//   Inline Forms
// -------------------------------------


// ----- Base----- //

.inline-form > ul {
   display: inline-block;
    vertical-align: top;
}

// -----Inline form groups ----- //

.inline-form__item {
  display: inline-block;
  vertical-align: top;
  margin-left: 30px;
}
ul .inline-form__item:first-child {
  margin-left: 0;
}


// ----- Inline form buttons ----- //

button.inline-form__item {
  margin-left: 10px;
}