
// *************************************
//
//   Header
//
// *************************************

// -------------------------------------
//   Base
// -------------------------------------

header{
    padding: 10px;
}

.header-wrap {
  border: 1px solid #000;
  border-left: none;
  border-right: none;
  background: url(../images/assets/orc.png) no-repeat 98% 95% #141414;
  text-align: center;
  padding: 100px 0;
  color: #CCC;
}