
// *************************************
//
//   Login
//
// *************************************

// -------------------------------------
//   Base
// -------------------------------------

.game-system-strip {
   padding: 20px;
}
.game-system {
   @include cells(2.3);
}
.game-system img {
   display: block;
   margin: 0 auto;
}
