
// *************************************
//
//   Login
//
// *************************************

// -------------------------------------
//   Base
// -------------------------------------

.game-system-strip {
   @extend %grid--rev;
   padding: 20px;
}
.game-system {
   @extend %grid__item;
   @include cells(3);
}
.game-system img {
   display: block;
   margin: 0 auto;
}
