

// *************************************
//
//   Base
//   -> Base-level tags (body, p, etc.)
//
// *************************************


*, *:after, *:before  {
  box-sizing:border-box;
  font-smoothing:antialiased;
  text-rendering:optimizeLegibility;
  outline:none;
}

html {
  font-size: 62.5%; // Equals 10px
  height: 100%;
}

body {
  // @include font-family("thin");

  height: 100%;
  margin: 0;
  padding: 0;
 // font-size: 100%;
  font-size: 1.6rem;
  line-height: 1.618;

    font-family: Georgia;
  // background: url(../images/maps/Map-Kings-Road.gif) no-repeat center center fixed;
  // background-size: cover;
}


// -------------------------------------
//   Block Content
// -------------------------------------

h1, ul, li {
  list-style:none;
  margin: 0;
  padding: 0;
}


// -------------------------------------
//   Inline Content
// -------------------------------------

a {
  text-decoration:none;
}


