

// *************************************
//
//   Grid system
//   -> Not yet decided, happy to use whatever!
//
// *************************************


// -------------------------------------
//   Variables
// -------------------------------------


// Dave custom grid :S

@mixin cells($span) {
  width: (8.33333333 * $span) * 1%;
  display: inline-block;
  vertical-align: top;
}
@mixin push($span) {
   margin-left: (8.33333333 * $span) * 1%;
}
@mixin pull($span) {
   margin-right: -((8.33333333 * $span) * 1%);
}