
// *************************************
//
//   Helpers
//   -> Various helper classes
//
// *************************************


// -------------------------------------
//   Image utilities
// -------------------------------------

.responsive-img {
    max-width: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}


// -------------------------------------
//   Clearfix
// -------------------------------------

%clear {
  content:' ';
  display:table;
}
%group {
  *zoom:1;
  &:before {
    @extend %clear;
  }
  &:after {
    @extend %clear;
    clear:both;
  }
}

// -------------------------------------
//   Global Width
// -------------------------------------

%global-width {
  width: 100%;
  max-width: 1366px;
  margin: 0 auto;
}

// -------------------------------------
//   Add/remove floats
// -------------------------------------

.float--right   { float:right!important; }
.float--left    { float:left !important; }
.float--none    { float:none !important; }


// -------------------------------------
//   Text alignment
// ------------------------------------

.text--left     { text-align:left  !important; }
.text--center   { text-align:center!important; }
.text--right    { text-align:right !important; }


// -------------------------------------
//   Font weights
// -------------------------------------

.weight--light      { font-weight:300!important; }
.weight--normal     { font-weight:400!important; }
.weight--semibold   { font-weight:600!important; }