
// *************************************
//
//   Layout
//   -> Site-wide Margin, Padding, Sizing
//
// *************************************


// -------------------------------------
//   Variables
// -------------------------------------


$l-block-max-width: 1400px;
$l-block-max-width-medium: 960px;
$l-block-max-width-narrow: 600px;
$l-base-whitespace: 5%;


// -------------------------------------
//   Block sections width limitations
// -------------------------------------

.l-block  {

    width: 100%;
    margin: 0 auto;

    &--full { max-width: $l-block-max-width; }
    &--half { max-width: $l-block-max-width-medium; }
    &--third { max-width: $l-block-max-width-narrow; }
}


// -------------------------------------
//   Element Positioning
// -------------------------------------

.l-fixed  { 
    position: fixed; 

    &--l { left: 0; }
    &--r { right: 0; }
    &--t { top: 0; }
    &--b { bottom: 0; }
}

.l-float  { 

    &--l { float: left; }
    &--r { float: right; }
}


// -------------------------------------
//   Flexbox
// -------------------------------------

.l-flex {
    display: flex;

    &--vcenter { align-items: center; }
    &--hcenter { justify-content: center; }

    &__item { flex: 1; }
    &__item--left { justify-content: flex-start; }
    &__item--right { justify-content: flex-end; }
}


// -------------------------------------
//   Block spacing
// -------------------------------------

// Horizontal and Vertical spacing
%l-pad, .l-pad {
    padding: $l-base-whitespace;
}

// Vertical spacing
%l-vpad, .l-vpad {
    padding: $l-base-whitespace 0;
}

// Horizontal spacing
%l-hpad, .l-hpad {
    padding: 0 $l-base-whitespace;
}

