
// *************************************
//
//   Settings
//   -> Fonts, Variables
//
// *************************************


// -------------------------------------
//   Variables
// -------------------------------------


// ----- Base Colors ----- //

$red: #C9243F;
$blue: #09C;
$gray: #666;
$charcoal: #282828;
// ...


// ----- Alert Colors----- //

$primary-highlight-color: #2982D5; // Bright Blue
$primary-success-color: #1ABC9C; // Turquoise Green
$primary-error-color  : #FF6162; // Light Red


// General Colors

$black: rgb(0,0,0);
$darkergrey: lighten($black, 10%);
$darkgrey: lighten($black, 25%);
$grey: lighten($black, 50%);
$lightgrey: lighten($black, 75%);
$lightergrey: lighten($black, 90%);
$white: rgb(255,255,255);


// ----- Typography ----- //

$text-transform: uppercase;
$letter-spacing: 0.1em;


// -------------------------------------
//   Z-indexes
// -------------------------------------

$zindex-alert-messages: 2;
$zindex-spinner: 1;