
// *************************************
//
//   Stormcrow Fantasy theme
//
// *************************************

// -------------------------------------
//   Colours
// -------------------------------------

// ----- Alert Colors----- //

$primary-highlight-color: #654321; // Bright Blue
$primary-success-color: #1ABC9C; // Turquoise Green
$primary-error-color  : #FF6162; // Light Red

$tool-bar-skin: #333;


// -------------------------------------
//   Z-indexs
// -------------------------------------

$zindex-alert-messages: 2;
$zindex-spinner: 1;

//----------------------------------*\
// THEME COMPONENTS
//----------------------------------*/

// @import '_theme-component';