<div class="modal-fury" ng-show="!activeGameCharacter && !userIsGM && !characterCreationActive">
    <h2>You don't have a character buddy!</h2>
    <p>Make a new one</p>
    <button ng-click="createCharacter()">Create</button>
    <p>Or choose from the list of unassigned characters</p>
    <ul>
        <li ng-repeat="item in activeGame.characters">
            <label>
                <input type="radio" name="chosenChar" ng-value="item" ng-model="$scope.chosenCharacter">
                {{ item.characterName }}
            </label>
        </li>
    </ul>
    <button ng-click="selectCharacter()">Choose</button>
</div>