  <main ng-controller="GameCtrl">

  <div ng-show="showGridLines" class="grid-lines"></div>

    <span class="notifications">
        <div id="alert-messages" class="notifications__message" ng-cloak>
            <div ng-repeat="message in alertMessages" class="message__{{message.type}}">
                <p>{{message.text}}</p>
                <a class="icon-close" ng-click="removeAlertMessage($index)"></a>
            </div>
        </div>
    </span>
    <div class="l-fixed l-vspace" ng-show="userCharacter">
        <div class="profile">
            <div class="profile__avatar">
                <img src="/images/users/avatars/{{userCharacter.avatar }}">
            </div>
            <div class="profile__information">
                <div class="character__name">
                    <h2>{{ userCharacter.characterName }}</h2>
                </div>
                <ul class="profile__attributes">
                    <li class="attributes__bar" title="{{ userCharacter.attributeOne }}/{{ userCharacter.attributeOneMax }}">
                       <span style="width: {{ (userCharacter.attributeOne / userCharacter.attributeOneMax) * 100 }}%"></span>
                    </li>
                    <li class="attributes__bar" title="{{ userCharacter.attributeTwo }}/{{ userCharacter.attributeTwoMax }}">
                        <span style="width: {{ (userCharacter.attributeTwo / userCharacter.attributeTwoMax) * 100 }}%"></span>
                    </li>
                    <li class="attributes__standalone">
                        {{ userCharacter.attributeThree }}
                    </li>
                </ul>
            </div>
            <!-- .character-information -->
        </div>
        <!-- .character-profile-content -->
    </div>
    <!-- .character-profile -->



<div class="modal-fury" ng-show="!userCharacter && !userIsGM">
    <h2>You don't have a character buddy!</h2>
<p>Make a new one</p>
    <button class="btn btn-primary" ng-click="createCharacter()">Create</button>
    <p>Or choose from the list of unassigned characters</p>
    <ul>
    <li><label><input type="radio" name="chosenCharacter" ng-model="chosenCharacter"> Hector the well endowed</label></li>
    <li><label><input type="radio" name="chosenCharacter" ng-model="chosenCharacter"> Ming the Merciless</li>
    <li><label><input type="radio" name="chosenCharacter" ng-model="chosenCharacter"> Fievel</label></li>
    <li><label><input type="radio" name="chosenCharacter" ng-model="chosenCharacter"> Darg Heeffil</label></li>
    </ul>
<button class="btn btn-primary" ng-click="selectCharacter()">Choose</button>

</div>


        <toolbar></toolbar>

    <div id="roll-breakdown" class="breakdown clearfix">

        <!-- loading indicator -->
        <div class="widget-loader" ng-show="widgetLoading['roll-breakdown']">
            <div class="widget-loader__spinner"></div>
        </div>

        <div ng-repeat="dr in diceRoll">
            <span class="badge">{{ roll.grandtotal }}</span>
             <i ng-repeat="item in dr.combo">
                    <span ng-show="item.dx !== 100" ng-repeat="roll in item.rolls" class="d{{item.dx}}-{{roll.score}}"></span>
                    <span ng-show="item.dx == 100" ng-repeat="roll in item.rolls" class="d10-{{roll.score}}"></span>
                </i>
        </div>
    </div>
    <!-- breakdown -->

    <eventlog></eventlog>

    </main>