<main ng-controller="HomeCtrl">

<ul>
 <li ng-hide="currentUser" ng-class="{active: isActive('/login')}"><a href="/login">Login</a></li>
 <li ng-hide="currentUser" ng-class="{active: isActive('/signup')}"><a href="/signup">Sign up</a></li>
<li ng-show="currentUser" ng-class="{active: isActive('/logout')}"><a href="" ng-click="logout()">Logout</a></li>
 </ul>
<h1>{{ currentUser.name }}, welcome to Storm Crow</h1>

<h4>Choose a game to join</h4>

<ul>
<li ng-repeat="g in userGames">
Game: <a href="/game" title="{{ g.name }}" ng-click="setGame( g )">{{ g.name }} </a> | Character: <span ng-repeat="char in g.characters"><span ng-show="char._userid == currentUser.id">{{ char.characterName }}</span></span><span ng-show="g.gm == currentUser.id">GM</span></li>
</ul>

</main>