<div ng-controller="LoginCtrl">
<header class="clear">
  <h1 class="pull-left">Stormcrow</h1>
      <form class="inline-form pull-right" name="form" ng-submit="login(form)" novalidate>
      <ul class="inline-form__item">
        <li class="inline-form__item"><label for="email-field">Email</label><input id="email-field" type="text" name="email" class="form-control" ng-model="user.email" placeholder="Email" required></li>
        <li class="inline-form__item"><label for="password-field">Password</label><input id="password-field" type="password" name="password" class="form-control" ng-model="user.password"  placeholder="Password" required></li>
    </ul>
      <button type="submit"  class="inline-form__item"> Sign in </button>


      <div class="form-group has-error">
        <p class="help-block" ng-show="form.email.$error.required && form.password.$error.required && submitted">
           Please enter your email and password.
        </p>
        <p class="help-block">{{ errors.other }}</p>
      </div>

    </form>
</header>


<div id="headerwrap" class="header-wrap">

        <h1>No matter your game system</h1>
        <h2>We've got you covered!</h2>
        <a href="/signup" class="button">Sign Up Free!</a>

  </div>
  <!-- .header-wrap -->



    <ul class="game-system-strip">

        <li class="game-system">
          <img src="images/assets/dnd-logo.png" alt="">
        </li><!--
        --><li class="game-system">
          <img src="images/assets/gurps-logo.png" alt="">
        </li><!--
        --><li class="game-system">
          <img src="images/assets/starwars-logo.png" alt="">
        </li><!--
        --><li class="game-system">
          <img src="images/assets/pathfinder-logo.png" alt="">
        </li><!--
        --><li class="game-system">
          <img src="images/assets/vampire-logo.png" alt="">
        </li>
    </ul>
    <!-- .game-system-strip -->

<ul class="information-panels">
<li class="information-panel">
        <h4>From D&amp;D to Pathfinder</h4>
        <p>Our tools are interchangeable with any game system.  In some form, by injected humour, or randomised words which don't look even believable.  There are many variations of passages of Lorem Ipsum available</p>
      </li><!--
--><li class="information-panel">
        <i class="fa fa-laptop"></i>
        <h4>Play in your browser</h4>
        <p>Nothing to install or download, literally just login and start playing with your buddies online.  In some form, by injected humour, or randomised words which don't look even believable.</p>
              </li><!--
        --><li class="information-panel">
        <h4>As close to P&amp;P as possible</h4>
        <p>Whilst we can't put you in around a table with your mates to play, this is the next best thing.  A virtual tabletop where you can see and speak to each other whilst adventuring.  In some form, by injected humour.</p>
      </li>
      </ul>


<div class="dummy-login-data">
    <p>Accounts are reset on server restart from <span>dummydata.js</span></p>

  <p>Password it always <span>test</span>.  Login emails are:</p>
    <ul>
    <li>davidajberner@gmail.com</li>
    <li>bnhovde@gmail.com</li>
    <li>gwood_2k1@gmail.com</li>
    </ul>
</div>
<!-- .dummy-login-data -->

</div>
<!-- LoginCtrl -->