<main ng-controller="SignupCtrl" class="container">

    <h1>Sign up</h1>

    <form class="signup-form" name="form" ng-submit="register(form)" novalidate>
        <ul>
            <li class="form__item" ng-class="{ 'has-success': form.name.$valid && submitted,
                                          'has-error': form.name.$invalid && submitted }">
                <label><span class="label">Name</span>
                <input type="text" name="name" ng-model="user.name" required>
                </label>
                <p class="error-message" ng-show="form.name.$error.required && submitted">
                    A name is required
                </p>
            </li>

            <li class="form__item" ng-class="{ 'has-success': form.email.$valid && submitted,
                                          'has-error': form.email.$invalid && submitted }">
                <label><span class="label">Email</span>
                <input type="email" name="email" ng-model="user.email" required mongoose-error/>
                </label>
                <p class="error-message" ng-show="form.email.$error.email && submitted">
                    Doesn't look like a valid email.
                </p>
                <p class="error-message" ng-show="form.email.$error.required && submitted">
                    What's your email address?
                </p>
                <p class="error-message" ng-show="form.email.$error.mongoose">
                    {{ errors.email }}
                </p>
            </li>

            <li class="form__item" ng-class="{ 'has-success': form.password.$valid && submitted,
                                          'has-error': form.password.$invalid && submitted }">
                <label><span class="label">Password</span>

                <input type="password" name="password" ng-model="user.password" ng-minlength="3" required mongoose-error>
                </label>
                <p class="error-message" ng-show="(form.password.$error.minlength || form.password.$error.required) && submitted">
                    Password must be at least 3 characters.
                </p>
                <p class="error-message" ng-show="form.password.$error.mongoose">
                    {{ errors.password }}
                </p>
            </li>
        </ul>
        <button type="submit" class="form__item">Sign up</button>
    </form>

 <p>Have an account? <a href="/login">Log in.</a></p>

</main>
