<div ng-show="showGridLines" class="grid-lines"></div>

<!-- notification alerts -->
<span class="notifications">
    <div id="alert-messages" class="notifications__message" ng-cloak>
        <div ng-repeat="message in alertMessages" class="message__{{message.type}}">
            <p>{{message.text}}</p>
            <a class="icon-close" ng-click="removeAlertMessage($index)"></a>
        </div>
    </div>
</span>
<!-- end of notification alerts -->

<gmmenu></gmmenu>

<characterprofile></characterprofile>
<nocharacter></nocharacter>
<createcharacter></createcharacter>

<toolbar></toolbar>

<div id="roll-breakdown" class="breakdown clearfix">

    <!-- loading indicator -->
    <div class="widget-loader" ng-show="widgetLoading['roll-breakdown']">
        <div class="widget-loader__spinner"></div>
    </div>

    <div ng-repeat="dr in diceRoll">
        <span class="badge">{{ roll.grandtotal }}</span>
        <div ng-repeat="item in dr.combo">
                <span ng-show="item.dx !== 100" ng-repeat="roll in item.rolls" class="d{{item.dx}}-{{roll.score}}"></span>
                <span ng-show="item.dx == 100" ng-repeat="roll in item.rolls" class="d10-{{roll.score}}"></span>
            </div>
    </div>
</div>
<!-- breakdown -->

<aside>

    <characterlist></characterlist>
    <eventlog></eventlog>

</aside>