// *************************************
//
//   Grid system
//   -> Dave Custom built grid
//   Influenced by inuit css grid and bourbon / neat
//
// *************************************

/**
 * This grid system uses `inline-block` which means that the grid items need their
 * whitespace removed in the HTML markup for them to work correctly.
 */


// -------------------------------------
//   Variables
// -------------------------------------

$gutter-width:             24px !default;
$use-markup-fix:        false !default;



// -------------------------------------
//   Base
// -------------------------------------

// ----- Parent Container ----- //

%grid {
    list-style:none;
    margin:0;
    padding:0;
    margin-left: -$gutter-width;
    @if not $use-markup-fix {
        letter-spacing:-0.31em;
    }
}

@if not $use-markup-fix {
    /* Opera hack */
    .opera:-o-prefocus,
    %grid {
        word-spacing:-0.43em;
    }
}

// ----- Individual cells ----- //

%grid__item {
   display: inline-block;
   vertical-align: top;
   padding-left: $gutter-width;
   -webkit-box-sizing:border-box;
   -moz-box-sizing:border-box;
    box-sizing:border-box;

        @if not $use-markup-fix {
            letter-spacing:normal;
            word-spacing:normal;
        }
}

// -------------------------------------
//   Reversed Grid
// -------------------------------------

%grid--rev {
    @extend %grid;
    direction: rtl;
    text-align: left;

    > %grid__item {
        direction: ltr;
        text-align: left;
    }
}


// -------------------------------------
//   Full Grid
// -------------------------------------

%grid--full {
    @extend %grid;
    margin-left: 0;

    > %grid__item {
        padding-left: 0;
    }
}

// -------------------------------------
//   Narrow Grid
// -------------------------------------

%grid--narrow {
    @extend %grid;
    margin-left:-($gutter-width/ 2);

    > %grid__item {
        padding-left:$gutter-width/ 2;
    }
}

// -------------------------------------
//   Wide Grid
// -------------------------------------

%grid--wide {
    @extend %grid;
    margin-left:-($gutter-width* 2);

    > %grid__item {
        padding-left:$gutter-width* 2;
    }
}


// -------------------------------------
//   Number of cells
// -------------------------------------

@mixin cells($number-of-cells) {

@if $number-of-cells == 1 {
   width: 8.3333333333%;
   }
   @if $number-of-cells == 2 {
   width: 16.66666666%;
   }
   @if $number-of-cells == 3 {
      width: 25%;
      }
   @if $number-of-cells == 4 {
      width: 33.33333333%;
   }
   @if $number-of-cells == 5 {
      width: 41.66666666%;
   }
   @if $number-of-cells == 6 {
       width: 50%;
   }
   @if $number-of-cells == 7 {
      width: 58.3333333333%;
   }
   @if $number-of-cells == 8 {
      width: 66.6666666666%;
   }
   @if $number-of-cells == 9 {
      width: 75%;
   }
   @if $number-of-cells == 10 {
      width: 83.333333333%;
   }
   @if $number-of-cells == 11 {
      width: 91.666666666%;
   }
   @if $number-of-cells == 12 {
      width: 100%;
   }
}


// -------------------------------------
//   Push
// -------------------------------------

@mixin push($number-of-cells) {

   @if $number-of-cells == 1 {
      margin-left: 8.3333333333%;
   }
   @if $number-of-cells == 2 {
      margin-left: 16.66666666%;
   }
   @if $number-of-cells == 3  {
      margin-left: 25%;
   }
   @if $number-of-cells == 4 {
      margin-left: 33.33333333%;
   }
   @if $number-of-cells == 5  {
      margin-left: 41.66666666%;
   }
   @if $number-of-cells == 6 {
      margin-left: 50%;
   }
   @if $number-of-cells == 7 {
      margin-left: 58.3333333333%;
   }
   @if $number-of-cells == 8 {
      margin-left: 66.6666666666%;
   }
   @if $number-of-cells == 9 {
      margin-left: 75%;
   }
   @if $number-of-cells == 10 {
      margin-left: 83.333333333%;
   }
   @if $number-of-cells == 11 {
      margin-left: 91.666666666%;
   }
   @if $number-of-cells == 12 {
      margin-left: 100%;
   }
}

// -------------------------------------
//   Pull
// -------------------------------------

@mixin pull($number-of-cells) {

   @if $number-of-cells == 1 {
      margin-right: 8.3333333333%;
   }
   @if $number-of-cells == 2 {
      margin-right: 16.66666666%;
   }
   @if $number-of-cells == 3  {
      margin-right: 25%;
   }
   @if $number-of-cells == 4 {
      margin-right: 33.33333333%;
   }
   @if $number-of-cells == 5  {
      margin-right: 41.66666666%;
   }
   @if $number-of-cells == 6 {
      margin-right: 50%;
   }
   @if $number-of-cells == 7 {
      margin-right: 58.3333333333%;
   }
   @if $number-of-cells == 8 {
      margin-right: 66.6666666666%;
   }
   @if $number-of-cells == 9 {
      margin-right: 75%;
   }
   @if $number-of-cells == 10 {
      margin-right: 83.333333333%;
   }
   @if $number-of-cells == 11 {
      margin-right: 91.666666666%;
   }
   @if $number-of-cells == 12 {
      margin-right: 100%;
   }
}
