
// *************************************
//
//   Helpers
//   -> Various helper classes
//
// *************************************


// -------------------------------------
//   Visibility
// -------------------------------------


// Totally hidden from screen readers and browsers
%hidden {
  display: none !important;
  visibility: hidden;
}

// Reverse the effects of `hidden`
%shown {
  display: block;
  visibility: visible;
}

// Only visually hidden, still available to screen readers
%visually-hidden {
  border: 0;
  clip: rect(0 0 0 0);
  position: absolute;
  overflow: hidden;
  margin: -1px;
  padding: 0;
  width: 1px;
  height: 1px;

&.focusable:active,
&.focusable:focus {
  clip: auto;
  position: static;
  overflow: visible;
  margin: 0;
  width: auto;
  height: auto;
}
}

// Reverse the settings applied by `visually-hidden`
%visually-shown {
  clip: auto;
  clip: rect(auto auto auto auto);
  position: static;
  overflow: visible;
  margin: 0;
  width: auto;
  height: auto;
}

// Hide visually and from screenreaders, but maintain layout
%invisible {
  visibility: hidden;
}

// -------------------------------------
//   Image utilities
// -------------------------------------

.responsive-img {
    max-width: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}


// -------------------------------------
//   Clearfix
// -------------------------------------

%clear {
  content:' ';
  display:table;
}
%group {
  *zoom:1;
  &:before {
    @extend %clear;
  }
  &:after {
    @extend %clear;
    clear:both;
  }
}

// -------------------------------------
//   Global Width
// -------------------------------------

%global-width {
  width: 100%;
  max-width: 1366px;
  margin: 0 auto;
}

// -------------------------------------
//   Add/remove floats
// -------------------------------------

.float--right   { float:right!important; }
.float--left    { float:left !important; }
.float--none    { float:none !important; }


// -------------------------------------
//   Text alignment
// ------------------------------------

.text--left     { text-align:left  !important; }
.text--center   { text-align:center!important; }
.text--right    { text-align:right !important; }


// -------------------------------------
//   Font weights
// -------------------------------------

.weight--light      { font-weight:300!important; }
.weight--normal     { font-weight:400!important; }
.weight--semibold   { font-weight:600!important; }