<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <base href="/">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <!-- build:css(app) styles/vendor.css -->
    <!-- bower:css -->
    <!-- endbower -->
    <!-- endbuild -->
    <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
    <!-- build:css({.tmp,app}) styles/main.css -->
    <link rel="stylesheet" href="styles/main.css">
    <!-- endbuild -->
  </head>
  <body ng-app="stormCrowApp" ng-controller="AppCtrl">
    <!--[if lt IE 7]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

    <!-- Add your site or application content here -->

    <span class="alert-wrapper">
        <div id="alert-messages" class="alert-messages" ng-cloak>
            <div ng-repeat="message in alertMessages" class="{{message.type}}">
                <p>{{message.text}}</p>
                <a class="icon-close" ng-click="removeAlertMessage($index)"></a>
            </div>
        </div>
    </span>

    <div class="header">
                <h3 class="text-muted">Stormcrow</h3>
            </div>
<aside>
    <ul>
    <li><a href="" class="icon-pointer"><span>Pointer</span></a></li>
    <li><a href="" class="icon-layers"><span>Layers</span></a></li>
    <li><a href="" class="icon-brush"><span>Draw</span></a></li>
    <li><a href="" class="icon-search"><span>Zoom</span></a></li>
    <li><a href="" class="icon-measure"><span>Ruler</span></a></li>
    <li><a href="" class="icon-clock"><span>Turn Order</span></a></li>
    <li ng-click="toggleDiceRoller()"><a href="" class="icon-dice"><span>Dice Roller</span></a></li>
    <li><a href="" class="icon-question"><span>Help</span></a></li>
</ul>
</aside>

    <div class="container" ng-view=""></div>


    <!-- Google Analytics: change UA-XXXXX-X to be your site's ID -->
     <script>
       (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
       (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
       m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
       })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

       ga('create', 'UA-XXXXX-X');
       ga('send', 'pageview');
    </script>

    <!--[if lt IE 9]>
    <script src="bower_components/es5-shim/es5-shim.js"></script>
    <script src="bower_components/json3/lib/json3.min.js"></script>
    <![endif]-->

    <!-- build:js(app) scripts/vendor.js -->
    <!-- bower:js -->
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/angular-resource/angular-resource.js"></script>
    <script src="bower_components/angular-route/angular-route.js"></script>
    <script src="bower_components/moment/moment.js"></script>
    <script src="bower_components/angular-moment/angular-moment.js"></script>
    <!-- endbower -->
    <!-- endbuild -->

        <!-- build:js({.tmp,app}) scripts/scripts.js -->
        <script src="scripts/app.js"></script>
        <script src="scripts/app-controller.js"></script>
        <script src="scripts/app-filters.js"></script>
        <script src="scripts/app-services.js"></script>
        <script src="scripts/app-directives.js"></script>
        <script src="scripts/modules/dice-roller/dice-roller-controller.js"></script>

        <!-- endbuild -->
</body>
</html>
