<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js">
<!--<![endif]-->

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <base href="/">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <!-- build:css(app) styles/vendor.css -->
    <!-- bower:css -->
    <!-- endbower -->
    <!-- endbuild -->
    <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
    <!-- build:css({.tmp,app}) styles/main.css -->
    <link rel="stylesheet" href="styles/main.css">
    <!-- endbuild -->
</head>

<body ng-app="stormCrowApp" ng-controller="AppCtrl">
    <!--[if lt IE 7]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

    <!-- Add your site or application content here -->
    <div ng-show="showGridLines" class="grid-lines">
    </div>
    <span class="alert-wrapper">
        <div id="alert-messages" class="alert-messages" ng-cloak>
            <div ng-repeat="message in alertMessages" class="{{message.type}}">
                <p>{{message.text}}</p>
                <a class="icon-close" ng-click="removeAlertMessage($index)"></a>
            </div>
        </div>
    </span>

    <div class="character-profile">
        <div class="character-profile-content">
            <div class="character-avatar">
                <img src="/images/users/avatars/{{userCharacter.avatar }}">
            </div>
            <div class="character-information">
                <div class="character-name">
                    <h2>{{ userCharacter.name }}</h2>
                </div>
                <ul class="character-attributes">
                    <li class="character-attributes-bar" title="{{ userCharacter.attributeOne }}/{{ userCharacter.attributeOneMax }}">
                       <span style="width: {{ (userCharacter.attributeOne / userCharacter.attributeOneMax) * 100 }}%"></span>
                    </li>
                    <li class="character-attributes-bar" title="{{ userCharacter.attributeTwo }}/{{ userCharacter.attributeTwoMax }}">
                        <span style="width: {{ (userCharacter.attributeTwo / userCharacter.attributeTwoMax) * 100 }}%"></span>
                    </li>
                    <li class="character-attributes-standalone">
                        {{ userCharacter.attributeThree }}
                    </li>
                </ul>
            </div>
            <!-- .character-information -->
        </div>
        <!-- .character-profile-content -->
    </div>
    <!-- .character-profile -->

    <div class="container" ng-view=""></div>

    <toolbar></toolbar>

    <div id="roll-breakdown" class="breakdown clearfix">
        <!-- loading indicator -->
        <div class="widget-loader" ng-show="widgetLoading['roll-breakdown']">
            <div class="spinner"></div>
        </div>
        <div ng-repeat="dr in diceRoll">
            <span class="badge">{{ roll.grandtotal }}</span>
            <i ng-repeat="item in dr.combo">
                    <span ng-show="item.dx !== 100" ng-repeat="roll in item.rolls" class="d{{item.dx}}-{{roll.score}}"></span>
                    <span ng-show="item.dx == 100" ng-repeat="roll in item.rolls" class="d10-{{roll.score}}"></span>
                </i>
        </div>
    </div>
    <!-- breakdown -->

    <eventlog></eventlog>

    <!-- Google Analytics: change UA-XXXXX-X to be your site's ID -->
    <script>
    (function(i, s, o, g, r, a, m) {
        i['GoogleAnalyticsObject'] = r;
        i[r] = i[r] || function() {
            (i[r].q = i[r].q || []).push(arguments)
        }, i[r].l = 1 * new Date();
        a = s.createElement(o),
        m = s.getElementsByTagName(o)[0];
        a.async = 1;
        a.src = g;
        m.parentNode.insertBefore(a, m)
    })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');

    ga('create', 'UA-XXXXX-X');
    ga('send', 'pageview');
    </script>

    <!--[if lt IE 9]>
    <script src="bower_components/es5-shim/es5-shim.js"></script>
    <script src="bower_components/json3/lib/json3.min.js"></script>
    <![endif]-->

    <!-- build:js(app) scripts/vendor.js -->
    <!-- bower:js -->
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/angular-resource/angular-resource.js"></script>
    <script src="bower_components/angular-route/angular-route.js"></script>
    <script src="bower_components/moment/moment.js"></script>
    <script src="bower_components/angular-moment/angular-moment.js"></script>
    <!-- endbower -->
    <!-- endbuild -->

    <!-- build:js({.tmp,app}) scripts/scripts.js -->
    <script src="scripts/app.js"></script>
    <script src="scripts/app-controller.js"></script>
    <script src="scripts/app-filters.js"></script>
    <script src="scripts/app-services.js"></script>
    <script src="scripts/app-directives.js"></script>
    <script src="scripts/modules/dice-roller/dice-roller-controller.js"></script>
    <script src="scripts/modules/event-log/event-log-controller.js"></script>

    <!-- endbuild -->
</body>

</html>
