<div ng-controller="TurnOrderCtrl" stop-event='click'>
    <div class="panel">
        <!-- Default panel contents -->
        <div class="panel__header">
                    <select ng-model="charToAdd" ng-options="c as c.characterName for c in characterOrderDropdown | orderBy: orderOfDropdown" ng-change="addToOrder( charToAdd )">
                    <option value="">Pick character to add</option>
                    </select>

        </div>
        <!-- .panel-heading -->
        <div ng-show="!orderOfPlay.length">
            <p>Add some characters</p>
        </div>
        <ul class="panel-list">
            <li class="panel-list__item" ng-repeat="item in orderOfPlay | orderBy: orderOfPlayOrder" ng-class="{'current-turn' : item.current}">
                <span class="turn-order-avatar">
                    <img src="/assets/images/users/avatars/{{ item.avatar }}">
                </span>

                <span class="character-name">{{ item.characterName }}</span>

                <span class="initiative-roll"><input type="number" value="{{item.initiativeRoll}}" ng-model="item.initiativeRoll" class="pull-left"><button type="button" class="close pull-left" title="Remove from order" ng-click="removeFromOrder( item )" aria-hidden="true">&times;</button></span>

            </li>
            <!-- .panel-list__item -->
        </ul>
        <div class="panel__footer" ng-show="orderOfPlay.length >= 1">
        (<a href="" ng-click="clearOrder()">Clear</a>)
<div class="pull-right" style="margin-bottom: 5px;">
        <span>Round: {{ roundNumber }}</span>
            <button ng-click="moveTurnOn()">Next turn</button>
            </div>
            <!-- .pull-right -->
        </div>
        <!-- end of show / hide -->
    </div>
    <!-- .panel-->
</div>
